<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>师德师风</title>
    <script src="assets/js/mui.min.js"></script>
    <link href="assets/css/mui.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="assets/css/headComponent.css"/>
	<link href="assets/css/index.css" rel="stylesheet"/>
	
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
	</style>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
</head>
<body style="background-color: white;">
	<div id="header">
		<headcomponent></headcomponent>
	</div>
	<script src="assets/js/headComponent.js" type="text/javascript" charset="utf-8"></script>
	<div class="mui-content" style="background-color: white; width: 1350px;margin: 0 auto;margin-top: 150px;">
				<!--locator-->
				<br />
				<div class="lcocator">
					当前位置：义卖平台
				</div>
				<!--details-->

				<div class="person" style="margin-top: 30px; background-color: white;">
					<div class="mui-row">
						<div class="mui-col-sm-12">
							<div class="person_line"></div>
							<div class="person1" style="border-bottom: 2px solid rgba(26,130,210,1);">								
								<div class="person_title">书画类</div>
								<div class="ac_more"><a href="#">MORE</a></div>
							</div>
						</div>
					</div>
					<div class="person_card" style="background-color: white;">
						<div class="mui-row" id="shihua">	
							<div  class="mui-col-sm-4" v-for="(item,index) in items"  v-on:click="to_details(item.id)" v-if="index<6">
								<div class="person_card1" style="width: 95%; padding-left: 10%; padding-top: 15px;">
									<div class="mui-card">
										<div class="mui-card-content">
											<img :src="item.imgUrl" style="width: 100%;height: 230px;"/>
											<div style="margin: auto;">
												<h4>{{item.title}}——{{item.author}}</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="person" style="margin-top: 30px; background-color: white;">
					<div class="mui-row"  style="background-color: white;">
						<div class="mui-col-sm-12" style="background-color: white;">
							<div class="person_line"></div>
							<div class="person1" style="border-bottom: 2px solid rgba(26,130,210,1);">								
								<div class="person_title">手工类</div>
								<div class="ac_more"><a href="#">MORE</a></div>
							</div>
						</div>
					</div>
					<div class="person_card" style="background-color: white;">
						<div class="mui-row" id="shougong" style="background-color: white;">
							<div class="mui-col-sm-4" v-for="(item,index) in items" v-if="index<6" v-on:click="to_details(item.id)">
								<div class="person_card1" style="width: 95%; padding-left: 10%; padding-top: 15px;">
									<div class="mui-card">
										<div class="mui-card-content">
											<img :src="item.imgUrl" style="width: 100%;height: 230px;"/>
											<div style="margin: auto;">
												<h4>{{item.title}}——{{item.author}}</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="foot">
					<div class="foot_link">
						<div class="mui-row">
							<div class="mui-col-sm-4">
								<div class="foot_title">
									
									<h3>益支教专题网站</h3>
								</div>
							</div>
							<div class="mui-col-sm-8">
								<div>
									<div class="foot_line"></div>
									<div class="foot_link1" >								
										<div class="foot_link_title">相关链接</div>
									</div>
								</div>
								<div style="margin-top: 20px;float: left;width: 100%;">
									<div class="link" style="display: inline-block;width: 35%;">
										<p>
											<a href="http://www.redcross.org.cn/">中国红十字会</a>
										</p>
									</div>
									<div class="link" style="display: inline-block; ">
										<p>
											<a href="http://zzb.whut.edu.cn/">xxx网</a>
										</p>
									</div>
								</div>
								<div style="margin-top: 20px;float: left;width: 100%;">
									<div class="link" style="display: inline-block; width: 35%;">
										<p>
											<a href="http://www.moe.gov.cn/">国家教育部</a>
										</p>
									</div>
									<div class="link" style="display: inline-block; ">
										<p>
											<a href="#">xxx</a>
										</p>
									</div>
								</div>
								<div style="margin-top: 20px;float: left;width: 100%;">
									<div class="link" style="display: inline-block;width: 35%;">
										<p>
											<a href="#">11网</a>
										</p>
									</div>
									<div class="link" style="display: inline-block; ">
										<p>
											<a href="http://www.redcross.org.cn/">xxxxx</a>
										</p>
									</div>
								</div>
								
								
							</div>
							
						</div>
					</div>
					<div class="right" >
						<div style="display: inline-block;padding-left: 10%;">
							<p>版权所有@WE! 益支教团队</p>
						</div>
						<div style="display: inline-block;padding-right: 10%;float: right;">
							<p>地址：湖北省武汉市珞狮路122号&nbsp;&nbsp; 邮编：430070</p>
						</div>
						
					</div>
				</div>
				
				

				
	</div>
	<script>
		var gallery = mui('.mui-slider');
		gallery.slider({
		interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
		});
	</script>
	<script>
		new Vue({
			el:'#shihua',
			data:{
				items:[]
			},
			created(){
				this.getinfos()
			},
			methods:{
				getinfos:function(){
					var _this = this
					axios({
						method:"get",
						url:"http://132.232.57.130:8083/good/goods",
						params:{
							type:1
						}
					}).then(res=>{
						console.log(res.data)
						_this.items = res.data.data
					}).catch(error=>{
						
					})
				},
				to_details:function(index){
						window.location.href =  "sale_detail.html?id="+index
				}
			}
		})
		
		new Vue({
			el:'#shougong',
			data:{
				items:[]
			},
			created(){
				this.getinfo()
			},
			methods:{
				getinfo:function(){
					var _this = this
					axios({
						method:"get",
						url:"http://132.232.57.130:8083/good/goods",
						params:{
							type:2
						}
					}).then(res=>{
						console.log(res.data)
						_this.items = res.data.data
					}).catch(error=>{
						
					})
				},
				to_details:function(index){
						window.location.href =  "sale_detail.html?id="+index
				}
			}
		})
// 		function start(){
// 			var url='http://132.232.57.130:8083/good/goods?type=1';
// 			
// 			mui.get(url,function(res){
// 				console.log(res)
// 				new Vue({
// 					el:'#test',
// 					data:{
// 						items:res
// 					}
// 					
// 				})
// 				
// 			},'json');
// 			
// 		}
	</script>
	
</body>
</html>